@media (max-width: 1199px) {
	#service{
		margin:0px;
		padding:0px;
	}
	#header-content{
		margin:0px;
	}
}
@media (max-width: 930px) {
	#menu a{
		padding-right:5px;
		padding-left:5px;
	}
}
@media (max-width: 900px) {
	#menu a{
		padding-right:4px;
		padding-left:3px;
	}
}
@media (max-width: 768px) {
	.footer-content{
		text-align:center;
	}
}
@media (max-width: 500px) {
	#banner{
		display:none;
	}
}