.text-black{color:black}
.clear-padding{padding:0px}
.hr-style-one{
	padding:0px;
	margin:5px;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.contentHolder { position:relative; height:750px; overflow: hidden;}
.content .store-list:hover ,.bg-gray{
	background:#868383;
	cursor:pointer;
}
.bg-gray{
	background:#3d3c3c;
}